.NG-faq-container {
  display: flex;
  gap: 50px;
}

.NG-faq-questions {
  width: 90%;
}

.mt-150 {
  margin-top: 150px;
}

@media (max-width: 900px) {
  .NG-faq-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px !important;
  }

  .NG-faq-questions {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .NG-faq-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .NG-faq-questions {
    width: 100%;
  }
}