.thirdPart{
    width: 83.17%;
    /* margin: 50px 162px 0px 161px;    */
    padding:0px 0px 40px 0px;
    gap: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F6FBE9;
    border: 1px solid #E5F5BD;
}
.formRS{
    width: 43.42%;
    gap: 50px;
    
}
.formRS label{
    color: #4C4C4C;
}
.formRS input {
    background: #EEF8D3;
    border: 1px solid #DCF1A7;
    width: 100%;
    padding: 24px;
    gap: 77px;
    border-radius: 8px ;
    border: 1px 0px 0px 0px;
    margin-bottom: 30px;
    margin-top: 10px; 
}
.formRS textarea{
    background: #EEF8D3;
    border: 1px solid #DCF1A7;
    height: 135px;
    width:100%;
    padding: 24px;
    gap: 77px;
    border-radius: 8px ;
    border: 1px 0px 0px 0px;
    margin-top: 10px; 
}
.formRS button{
    border: none;
    width:100%;
    gap: 77px;
    border-radius: 8px ;
    padding: 18px 24px 18px 24px;
    background: #CBEA7B;
}
.flexForm{
    display: flex;
    justify-content: space-between;
}
.flexForm span {
    width:100%;
    padding-right: 10px;
    gap: 30px;
    border-radius: 8px ;
    border: 1px 0px 0px 0px;
}
.formRS p{
    gap: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    margin-bottom: 3%;
}

.send{
    background: #CBEA7B;
}
.mapRS{
    
    
    width: 43.42%;   
    border-radius: 10px ;
    margin: 60px 0px 0px 0px;
}
.map{
    width: 100%;
    height: 480px;
    gap: 0px;
    border-radius: 10px ;  
}
.btnRS button{
    border: none;
   margin: 1%;
}
.btnRS{
    display: flex;
    flex-direction: row-reverse;
}
.btnRS button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.formRS button:hover{
    background-color: #cbea7bd1;
    cursor: pointer;
    transform: scale(1.1);
}
.formRS input:hover{
    transform: scale(1.1);
}

@media(max-width:1440px){
    .thirdPart{
       
        padding: 40px ;
        gap: 40px;
        border-radius: 12px ;
        margin: 40px 80px 40px 81px;
    }
 .formRS{
    
    gap: 40px;
 }
 .formRS input{
    
    padding: 20px;
 }
 .formRS textarea{
    
    padding: 20px;
 }
 .formRS span {
    
    padding: 10px;
    gap: 8px;
 }
 .formRS button{
    
    padding: 14px 24px 14px 24px;
    gap: 8px;
    border-radius: 6px;
 }
 .map{
    height: 435px;
    border-radius: 8px ;
    }
    .btnRS button{
        width: 52px;
        height: 52px;
        border: none;
       margin: 1%;
    }
    
    
}
@media (max-width:390px) {
    .thirdPart{
        width:358px;
        padding: 30px ;
        gap: 40px;
        border-radius: 12px ;
        margin: 20px 16px 20px 16px;
        display: block;
        }
        .formRS{
            width:298px;
            gap: 40px;
            
        }
        .formRS input{
            width:298px;
            padding: 20px;
            font-size: 12px;
        }
        .formRS textarea{
            width:298px;
            padding: 20px;
            font-size: 12px;
        }
        .formRS span {
            width:298px;
            display: block;
            gap: 8px;
            font-size: 12px;
            padding-left: 0px;
        }
        .formRS button{
            width:298px;
            padding: 14px 24px 14px 24px;
            gap: 8px;
            border-radius: 6px;
        }
        .flexForm{
            width: 298px;
            display: block;
            
        }
        .mapRS{width: 100%;}
        .map{   width:298px;
            height: 208px;
            border-radius: 8px ;
            
    }
    .btnRS button{ 
       margin: 2% 2% 1% 1%;
    }
    .btnRS{
        width: 298px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}