.error {
    border: 2px solid red !important;
    animation: shake 0.3s;
}
.thirdPart {
    padding: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background: var(--light-beige);
    border: 1px solid var(--pale-green);
    box-shadow: 10px 10px 50px 0px var(--shadow);
}
.WO-LeftSideContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}
.WO-FormElements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.WO-Row1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.WO-Row1 div {
    width: 100%;
}
.W0-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.WO-FormElements label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--grayish);
}
.WO-FormElements input, .WO-FormElements textarea {
    border-radius: 8px;
    border: 1px solid var(--pastel-yellow);
    background-color: var(--pastel-yellow-green);
    padding: 24px;
    width: 100%;
}
.WO-FormElements input {
    height: 68px;
}
.WO-FormElements textarea {
    height: 135px;
}
.WO-FormElements ::placeholder {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: var(--olive-gray);
}
.W0-input p {
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--gray);
}
.WO-LeftSideContact button {
    border-radius: 8px;
    background-color: var(--light-green);
    border: none;
    padding: 18px 24px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--dark-gray);
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.WO-LeftSideContact button:hover {
    transform: scale(1.05);
    background-color: hsla(77, 73%, 70%, 0.658);
}
.WO-RightSideContact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    width: 100%;
}
.map {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    object-fit: cover;
}
.RS-Btn {
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: fit-content;
}
.RS-Btn img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}
.RS-Btn img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Animation for error fields */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes pulsingGlow {
    0% {
        box-shadow: 0 0 0px var(--light-green);
    }
    50% {
        box-shadow: 0 0 15px var(--light-green);
    }
    100% {
        box-shadow: 0 0 0px var(--light-green);
    }
}
/* responsive */
@media (max-width:1440px) {
    .thirdPart {
        padding: 60px;
        gap: 40px;
    }
    .WO-LeftSideContact {
        gap: 40px;
    }
    .WO-FormElements {
        gap: 20px;
    }
    .WO-Row1 {
        gap: 20px;
    }
    .W0-input {
        gap: 8px;
    }
    .WO-FormElements label {
        font-size: 16px;
    }
    .WO-FormElements input, .WO-FormElements textarea {
        border-radius: 6px;
        padding: 20px;
    }
    .WO-FormElements input {
        height: 60px;
    }
    .WO-FormElements ::placeholder {
        font-size: 16px;
    }
    .W0-input p {
        font-size: 14px;
    }
    .WO-LeftSideContact button {
        border-radius: 6px;
        padding: 14px 24px;
        font-size: 14px;
        line-height: 21px;
    }
    .WO-RightSideContact {
        gap: 20px;
    }
    .map {
        height: 435px;
        border-radius: 8px;
    }
    .RS-Btn img {
        width: 52px;
        height: 52px;
        border-radius: 6px;
    }
}
@media (max-width:1200px) {
    .thirdPart {
        padding: 30px;
        flex-direction: column;
    }
    .WO-Row1 {
        gap: 20px;
        flex-wrap: wrap;
    }
    .W0-input {
        gap: 8px;
    }
    .WO-RightSideContact {
        align-items: center;
    }
    .map {
        height: 100%;
    }
    .RS-Btn img {
        width: 52px;
        height: 52px;
    }
}