.NG-hero2 {
    padding: 0 100px 100px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-beige);
    border: 1px solid var(--pale-green);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 100px;
}
.NG-hero-img {
    background-image: url('./../../assets/images/team/Abstract Design.png');
    background-position: center;
    width:46.92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 80px ;
}
.NG-hero-img img {
    width: 90px;
}
.NG-hero2 .NG-text h2 {
    margin-bottom: 20px;
    color: var(--dark-gray)
}
.NG-hero2 .NG-text p {
    color: var(--medium-gray);
    margin: 0;
}
@media(max-width:1440px) {
    .NG-hero2 {
        padding: 0 80px 80px 80px ;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .NG-hero-img img {
        width: 68px;
    }
    .NG-hero2 .NG-text h2 {
        margin-bottom: 10px;
    }
    .NG-hero-img {
        width: 50.23%;
        padding-top: 80px;
        padding-bottom: 60px ;
    }
}
@media(max-width:992px){
    .NG-hero-img {
        width: 100%;
        padding: 30px 0;
    }
    .NG-hero2 {
        padding: 0 30px 30px 30px ;
    }
    .NG-hero-img img {
        width: 62px;
    }
    .NG-hero2 .NG-text h2 {
        margin-bottom: 6px;
    }
}