.NG-faq-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-beige);
    padding: 80px 30px;
    color: var(--light-beige);
    border: 1px solid var(--pale-green);
    border-radius: 12px;
    width: 43.9%;
    gap: 50px;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.NG-faq-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.NG-faq-card img {
    width: 26.258%;
}

.NG-faq-card .NG-QUES {
    text-align: center;

}

.NG-faq-card .NG-QUES h6 {
    font-weight: 600;
    line-height: 40.8px;
    font-size: 34px;
    margin-bottom: 16px;
    white-space: nowrap;
    color: var(--darker-green);
}

.NG-faq-card .NG-QUES p {
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
    white-space: nowrap;
    margin-bottom: 0;
    color: var(--medium-gray);
}

.NG-faq-card button {
    border-radius: 8px;
    border: none;
    background-color: var(--light-green);
    color: var(--dark-gray);
    line-height: 27px;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 28px;
    animation: pulsingGlow 2s infinite;
    transition: transform 0.3s ease;
}

.NG-faq-card button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.NG-faq-card button:hover {
    transform: scale(1.05) !important;
    background-color: hsla(77, 73%, 70%, 0.658);
}

@media (max-width: 1440px) {
    .NG-faq-card {
        padding: 60px 24px;
        width: 43%;
    }

    .NG-faq-container {
        gap: 30px;
    }

    .NG-faq-card img {
        width: 27.495%;
    }

    .NG-faq-card .NG-QUES h6 {
        line-height: 31.2px;
        font-size: 26px;
        margin-bottom: 12px;
    }

    .NG-faq-card .NG-QUES p {
        line-height: 24px;
        font-size: 16px;
    }

    .NG-faq-card button {
        font-size: 14px;
        line-height: 21px;
        padding: 14px 20px 14px 20px;
    }
}

@media (max-width: 1100px) {
    .mt-150 {
        margin-top: 50px;
    }

    .NG-faq-card {
        width: 100%;
        height: 100%;
        padding: 50px 24px;
        gap: 30px;
    }

    .NG-faq-card img {
        width: 25.91%;
    }

    .NG-faq-card .NG-QUES h6 {
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 6px;
    }

    .NG-faq-card .NG-QUES p {
        font-size: 14px;
        line-height: 21px;
    }

    .NG-faq-card button {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 21px;
    }
}