.SM-blogCard {
    background-color: var(--light-beige);
    border: 1px solid var(--pastel-yellow-green);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}
.SM-blogCard:hover {
    /* transform: scale(1.05); */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
}
.SM-blogCard-Header {
    padding: clamp(30px, 2.8vw, 50px) clamp(30px, 2.8vw, 50px) 0 clamp(30px, 2.8vw, 50px);
    border-bottom: 2px solid var(--pastel-yellow-green);
}
.SM-blogCard-category {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--light-green);
    width: max-content;
    color: var(--medium-gray);
}
.SM-blogCard-Image-container {
    display: flex;
    justify-content: end;
    padding-top: clamp(30px, 4vw, 50px);
}
/* .SM-blogCard-Image-container img:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
} */
.SM-blogCard-Content {
    padding: clamp(30px, 2.8vw, 50px) clamp(30px, 2.8vw, 50px) 30px clamp(30px, 2.8vw, 50px);
    display: flex;
    gap: clamp(24px, 1vw, 30px);

}
.SM-blogCard-subtitle {
    color: var(--dark-gray);
    margin-bottom: 10px;
}
.SM-blogCard-description {
    color: var(--medium-gray);
}
.SM-blogCard-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.SM-blogCard-button {
    padding: clamp(14px, 1vw, 18px) clamp(20px, 1vw, 24px);
    background-color: var(--light-green);
    color: var(--dark-gray);
    border-radius: 8px;
    border: none;
    width: 136px;
    padding: 18px 24px;
    transition: transform 0.3s ease;
}
.SM-blogCard-button:hover {
    transform: scale(1.05);
    background-color: hsla(77, 73%, 70%, 0.658);
}
@media (max-width: 1440px) {
    .SM-blogCard-Content {
        padding: 40px 40px 24px 40px;
    }
    .SM-blogCard-Image {
        width: 393px;
    }
    .SM-blogCard-button {
        padding: 14px 20px;
        width: 109px;
    }
    .SM-blogCard-subtitle {
        margin-bottom: 8px;
    }
}
@media (max-width: 993px) {
    .SM-blogCard-Image {
        width: 90%;
        width: 88.3%;
        height: 100%;
    }
    .SM-blogCard-Content {
        flex-direction: column;
        padding: 30px;
    }
    .SM-blogCard-button-container {
        justify-content: start;
    }
}