.NG-hero {
    display: flex;
    align-items: center;
    gap: 50px;
}

.NG-hero .NG-Left {
    width: 49.42%;
}
.NG-hero .NG-right {
    width: 39.53%;
}
.NG-hero .NG-Left img {
    width: 100%;
}
.NG-hero .NG-right p:first-child {
    font-size: 28px;
    font-weight: 600;
    /* font-family: ; */
    line-height: 33.6px;
    border-bottom: 3px solid var(--light-green);
    width: fit-content;
    padding: 10px 0;
    margin-bottom: 14px;
}

.NG-hero .NG-right h2 {
    font-size: 58px;
    font-weight: 700;
    /* font-family: ; */
    line-height: 69.6px;
    margin-bottom: 20px;
}

.NG-hero .NG-right .NG-pcontent {
    font-size: 18px;
    font-weight: 500;
    /* font-family: ; */
    line-height: 27px;
    margin-bottom: 50px;

}
.NG-hero .NG-right .NG-btn {
    margin-bottom: 50px;
}
.NG-hero .NG-right .NG-btn button {
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}
.NG-hero .NG-right .NG-btn .NG-btn1 {
    margin-right: 14px;
    padding: 14px 16px;
    color: black;
    border: none;
    background-color: var(--light-green);
}
.NG-hero .NG-right .NG-btn .NG-btn2 {
    padding: 14px 20px;
    background-color: var(--light-beige);
    border: 1px solid var(--pale-green);
}
.NG-hero .NG-right .NG-review {
    display: flex;
    gap: 6px;
    align-items: center;
}
.NG-hero .NG-right .NG-review p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}
.NG-hero .NG-right .NG-review p span {
    color: var(--medium-gray);
    font-weight: 600;
}

@media (max-width: 1920px) {
    .NG-hero {
        gap: 50px;
    }
    .NG-hero .NG-Left {
        width: 949px;
    }
    .NG-hero .NG-right p:first-child {
        font-size: 28px;
        line-height: 33.6px;
        padding: 10px 0;
        margin-bottom: 14px;
    }
   
    .NG-hero .NG-right .NG-pcontent {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 50px;
    
    }
    .NG-hero .NG-right .NG-btn button {
        font-size: 18px;
        border-radius: 8px;  
    }
    .NG-hero .NG-right .NG-btn .NG-btn1 {
        margin-right: 20px;
        padding: 20px 16px;
    }
    .NG-hero .NG-right .NG-btn .NG-btn2 {
        padding: 16px 24px;
    }
    .NG-hero .NG-right .NG-review p {
        font-size: 20px;
        line-height: 30px;
    }
    .NG-hero .NG-right .NG-review {
        gap: 8px;
    }

}

@media (max-width: 1440px) {
    .NG-hero {
        gap: 40px;
    }
    .NG-hero .NG-Left {
        width: 710px;
    }
    .NG-hero .NG-right p:first-child {
        font-size: 22px;
        Line-height: 26.4px;
        padding: 8px 0;
        margin-bottom: 8px;
    }
    .NG-hero .NG-right h2 {
        font-size: 48px;
        line-height: 57.6px;
        margin-bottom: 16px;
    }
    .NG-hero .NG-right .NG-pcontent {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
    
    }
    .NG-hero .NG-right .NG-btn button {
        font-size: 14px;
        border-radius: 6px;
        
    }
    .NG-hero .NG-right .NG-btn .NG-btn1 {
        margin-right: 14px;
        padding: 16px 14px;
    }
    .NG-hero .NG-right .NG-btn .NG-btn2 {
        padding: 14px 20px;
    }
    .NG-hero .NG-right .NG-review p {
        font-size: 18px;
        line-height: 27px;
    }
    .NG-hero .NG-right .NG-review {
        gap: 6px;
    }

}
@media (max-width: 576px) {
    .NG-hero {
        display: block;
        align-items: center;
    }
    .NG-hero .NG-Left {
        width : 100%;
    }
    .NG-hero .NG-right {
        width: 100%;
    }
    .NG-hero .NG-right p:first-child {
        font-size: 18px;
        /* font-family: ; */
        line-height: 21.6px;
        padding: 10px 0;
        margin-bottom: 10px;
        margin-left: 74px;
    }
    
    .NG-hero .NG-right h2 {
        font-size: 38px;
        text-align: center;
        line-height: 45.6px;
        margin-bottom: 16px;
        margin-left: 16px;

    }
    .NG-hero .NG-right .NG-pcontent {
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        /* font-family: ; */
        line-height: 21px;
        margin-bottom: 30px;
        margin-left: 16px;
    }
    .NG-hero .NG-right .NG-btn .NG-btn1 {
        margin-left: 53px;
    }
    .NG-hero .NG-right .NG-btn .NG-btn2 {
        margin-right: 53px;
    }
    
    
}






