.tabs-container {
    background-color: var(--darker-green);
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 44px 9.4%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 50px;
    overflow-x: auto;

    .tab-link {
        text-decoration: none;
        color: var(--light-gray);
        white-space: nowrap;
        cursor: pointer;
    }

    .tab-link.active {
        border: 1px solid var(--deep-green);
        background-color: var(--muted-green);
        border-radius: 6px;
        padding: 14px 20px;
    }
}

.tabs-container::-webkit-scrollbar {
    height: 0px;
}
.nav-link {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.nav-link:hover {
    background-color: var(--darker-green) !important;
    transform: scale(1.05);
}


.nav-link.active {
    background-color: var(--white) !important;
    color: var(--darker-green) !important;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);}

@media (max-width: 1550px) {
    .tabs-container {
        padding: 36px 6.25%;
        margin-bottom: 30px;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .tabs-container {
        padding: 30px;
    }
}