.blogcard-container {
    border-radius: 12px;
    overflow: hidden;
}

.tabs-container {
    background-color: var(--darker-green);
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 30px 150px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 50px;
    overflow-x: hidden;

    .tab-link {
        text-decoration: none;
        font-size: clamp(16px, 1vw, 18px);
        font-weight: 600;
        color: var(--light-gray);
        white-space: nowrap;
        cursor: pointer;
    }

    .tab-link.active {
        border: 1px solid var(--deep-green);
        background-color: var(--muted-green);
        border-radius: 6px;
        padding: 12px 20px;
    }
}

@media (max-width: 993px) {
    .tabs-container {
        padding: 20px;
        gap: 20px;
        margin-bottom: 30px;
        .tab-link {
            font-size: 14px;
        }
    }
}

@media (min-width: 994px) and (max-width: 1440px) {
    .tabs-container {
        padding: 30px 80px;
        gap: 20px;
    }
}