.LF-cardMEM{
    height: 470px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
   @media(max-width:1440px ){
    
    
    .LF-cardMEM{
        height:400px ;
    }
    
    
    }

   
    @media(max-width: 576px){
        
        
         .LF-cardMEM{
           display: flex;
           flex-wrap: wrap;
         }
}

