.works-section {
    text-align: center;
    /* padding: 40px 20px; */
    margin-top: 100px !important;
    position: relative;
    z-index: 0;
  }
   body{
    background-color: var(--very-light-beige);
   }
  .work-wrapper {
    position: relative;
    padding-top: 50px;
  }
  .work-wrapper .card{
    margin-top: 100px;
  
  }
  .work-wrapper .card-with-number {
    text-align: left; 
    width: calc(50% - 25px); 
  }
  
  .card-with-number .number-background {
    position: absolute;
    transform: translateY(-57%)translateX(-30%);
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  
  .number-background img {
    max-width: 40%;
  }
  
  
  @media (max-width: 1440px) {
  .work-wrapper .card-with-number {
    width: calc(50% - 20px); 
  }
  }
  @media (max-width: 992px) {
    .works-section {
      margin-top: 50px;
    }
  }
  @media (max-width: 768px) {
   
    .work-wrapper .card:nth-child(n+5) {
      display: none; 
    }
   
  }