.main-container{
    padding: 0 162px;
}
@media(max-width:1440px){
    .main-container{
        padding: 0 80px;
    }
    @media(max-width: 567px){
        .main-container{
            padding: 0 16;
            padding-bottom: 50px;
        }

    }
}