@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", serif;
}

:root {
    --dark-green: #1A3129;
    --darker-green: #234338;
    --light-green: #CBEA7B;
    --light-beige: #F6FBE9;
    --pale-green: #E5F5BD;
    --pastel-yellow: #DCF1A7;
    --dark-gray: #262626;
    --medium-gray: #333333;
    --dark-gray-text: #4C4C4D;
    --first-color-alt: #468671;
    --very-light-beige: #FAFDF2;
    --grayish: #4C4C4C;
    --gray: #59595A;
    --muted-green: #2C5446;
    --light-gray: #E6E6E6;
    --deep-green: #356554;
    --light-grayish: #F2F2F2;
    --pastel-yellow-green: #EEF8D3;
    --olive-gray: #656567;
    --light: #FAFDF2;
    --white: #FFFFFF;
}
p {
    margin: 0;
}   
.main-container {
    margin: 0 162px !important;
    background-color: var(--very-light-beige);
}
.mb-150 {
    margin-bottom: 150px !important;
}
.mb-177 {
    margin-bottom: 177px !important;
}

/* font size */
.fs-50-40 {
    font-size: 50px;
    line-height: 43.76px;
}
.fs-48-38-28 {
    font-size: 48px;
    line-height: 72px;
}
.fs-34-26-22 {
    font-size: 34px;
    line-height: 51px;
}
.fs-30-24-22 {
    font-size: 30px;
    line-height: 45px;
}
.fs-26-22-20 {
    font-size: 26px;
    line-height: 39px;
}
.fs-24-22-20, .fs-24-20-18 ,.fs-24-20{
    font-size: 24px;
    line-height: 36px;
}
.fs-20-18-16 {
    font-size: 20px;
    line-height: 30px;
}
.fs-18-16-14, .fs-18-16, .fs-18-14 {
    font-size: 18px;
    line-height: 27px;
}

/* font weight */
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.lh-28 {
    line-height: 28px !important;
}
.lh-24 {
    line-height: 24px !important;
}


@media (max-width: 1500px) {
    .main-container {
        margin: 0 80px !important;
    }
    .mb-150 , .mb-177 {
        margin-bottom: 100px !important;
    }
    .fs-50-40 {
        font-size: 40px;
        line-height: 35.01px;
    }
    .fs-48-38-28 {
        font-size: 38px;
        line-height: 57px;
    }
    .fs-34-26-22 {
        font-size: 26px;
        line-height: 39px;
    }
    .fs-30-24-22 {
        font-size: 24px;
        line-height: 36px;
    }
    .fs-26-22-20,.fs-24-22-20 {
        font-size: 22px;
        line-height: 33px;
    }
    .fs-24-20-18, .fs-24-20 {
        font-size: 20px;
        line-height: 30px;
    }
    .fs-20-18-16 {
        font-size: 18px;
        line-height: 27px;
    }
    .fs-18-16-14, .fs-18-16 {
        font-size: 16px;
        line-height: 24px;
    }
    .fs-18-14 {
        font-size: 14px;
        line-height: 21px;
    }
}
@media (max-width: 576px) {
    .main-container {
        margin: 0 16px !important;
    }
    .mb-150 , .mb-177 {
        margin-bottom: 50px !important;
    }
    .fs-48-38-28 {
        font-size: 28px;
        line-height: 42px;
    }
    .fs-34-26-22 {
        font-size: 22px;
        line-height: 33px;
    }
    .fs-30-24-22 {
        font-size: 22px;
        line-height: 33px;
    }
    .fs-26-22-20, .fs-24-22-20 {
        font-size: 20px;
        line-height: 30px;
    }
    .fs-24-20-18 {
        font-size: 18px;
        line-height: 27px;
    }
    .fs-20-18-16 {
        font-size: 16px;
        line-height: 24px;
    }
    .fs-18-16-14 {
        font-size: 14px;
        line-height: 21px;
    }
}
