.LF-bigcard {
    position: relative;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, );
    transition: 1s;
    width: calc((94.36%) / 4);
    margin-bottom: 65px;
}
.LF-bigcard:hover {
    transform: scale(1.1);
    z-index: 0;
}
.LF-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.LF-desccard {
    max-width: 100%;
    width: 270.5px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: -65px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--light-beige);
}

@media (max-width:1440px) {
    .LF-bigcard {
        position: relative;
        gap: 20px;
        width: calc((95.3125%) / 4);
        margin-bottom: 42px;
    }
    .LF-image {
        border-radius: 8px;
        height: 342px;
    }
    .LF-desccard {
        width: 245;
        gap: 2px;
        padding: 20px;
        bottom: -42px;
    }
}
@media(max-width: 1200px) {
    .LF-bigcard {
        margin: 0 auto;
        margin-bottom: 42px;
        /* width: 376px; */
        width: fit-content;
    }
}
@media(max-width: 576px) {
    .LF-desccard {
        width: 266px;
    }
}
@media(max-width: 390px) {
    .LF-bigcard {
        width: 100%;
    }
    .LF-image {
        height: 373px;
    }
}