.LF-bigcard{
    height: 470px;
    margin-top: 50px;
    position: relative;
    box-shadow: 0 0 20px 2px rgba(0,0,0,);
    transition: 1s;
    
    
   }
   .LF-bigcard:hover{
    transform: scale(1.1);
    z-index: 0;
   }
 .LF-image{
    width:376.5px ;
     height:406px ;
     border-radius: 12px;
     
 }  
.LF-desccard{
    width:270.5px;
    height:116px ;
    border-top-right-radius:20px ;
    position: absolute;
    bottom: 10px;
    padding: 30px;
    gap:4px;
    background-color:var(--light-beige) ;

}
@media (max-width:1440px) {
        .LF-bigcard{
            height: 384px;
           position: relative;
           gap: 20px;
          
        }
        .LF-image{
          width: 305px;
            height:342px ;
            border-radius: 8px;
        }
        .LF-desccard{
            height:94px ;
            gap: 2px;
            border-top-right-radius:20px ;
            padding: 20px;
            position: absolute;
            bottom: 2px;

        }
    }

     @media(max-width: 576px){
       
        .LF-desccard{
            width:266px ;
            height: 94px; ;
            font-size: small;
            position: absolute;
        }
        .LF-bigcard{
            position: relative;
           padding-left: 32px;

        }
        .LF-image{
            width:326px ;
            height:373px ;
            border-radius:8px ;
            
        }
    }