.PriceCard {
    border-radius: 12px;
    border: 1px solid var(--pastel-yellow-green);
    padding: 50px;
    background-color: var(--light-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 512px;
    flex-shrink: 0;
}

.PriceCard1 {
    border-radius: 12px;
    border: 1px solid var(--pastel-yellow-green);
    padding: 50px;
    background-color: var(--light-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 512px;


}


.W0-TextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    width: fit-content;


}

.W0-TextContainer h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    color: var(--dark-gray);
    margin: 0;

}

.W0-TextContainer p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500px;
    color: var(--dark-gray-text);
    margin: 0;

}

.WO-describtion {
    line-height: 27px;
    font-size: 18px;
    color: var(--dark-gray);



}

.WO-bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 33px;
    width: 100%;


}

.WO-subContainer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.WO-subContainer1 p:nth-child(1) {
    font-size: 50px;
    font-weight: 700;
    line-height: 43.76px;

}

.WO-subContainer1 p:nth-child(2) {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500px;
    color: var(--medium-gray);

}

.WO-Btn {
    padding: 18px 41px 18px 41px;
    border-radius: 8px;
    border: none;
    background-color: var(--light-green);
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;


}

.WO-RowContainer {
    border-radius: 10px;
    border: 1px solid var(--pale-green);
    background-color: var(--pastel-yellow-green);
}

.WO-Row {
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid var(--pastel-yellow);

}

.WO-Row p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--medium-gray);

}

.WO-CardNote {
    border-radius: 8px;
    padding: 20px 24px 20px 24px;
    background-color: var(--darker-green);
    margin-top: 10px;

}

.WO-CardNote p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--white);

}

@media (max-width:1440px) {

    .PriceCard,
    .PriceCard1 {
        border-radius: 10px;


    }

    .W0-TextContainer {
        gap: 0px;
    }

    .WO-bottomContainer {
        gap: 24px;
    }

    .WO-subContainer1 {
        gap: 2px;
    }

    .WO-subContainer1 p:nth-child(1) {
        font-size: 40px;
        line-height: 35.01px;

    }

    .WO-subContainer1 p:nth-child(2) {
        font-size: 16px;
        line-height: 24px;

    }

    .WO-Btn {
        font-size: 14px;
        line-height: 16.8px;

    }

}

@media (min-width:769px)and (max-width:1440px) {

    .PriceCard,
    .PriceCard1 {
        padding: 40px;
        gap: 30px;
        width: 413.33px;


    }

    .W0-TextContainer h3 {
        font-size: 24px;
        line-height: 36px;
    }

    .W0-TextContainer p,
    .WO-describtion,
    .WO-Row p,
    .WO-CardNote p {
        font-size: 16px;
        line-height: 24px;

    }

    .WO-RowContainer {
        border-radius: 8px;
    }

    .WO-Row,
    .WO-CardNote {
        padding: 16px 20px 16px 20px;

    }



}

@media (max-width:769px) {

    .PriceCard,
    .PriceCard1 {
        padding: 30px;
        gap: 24px;
        width: 358px;


    }

    .W0-TextContainer h3 {
        font-size: 22px;
        line-height: 33px;
    }

    .W0-TextContainer p,
    .WO-describtion,
    .WO-Row p,
    .WO-CardNote p {
        font-size: 14px;
        line-height: 21px;

    }

    .WO-RowContainer {
        border-radius: 6px;
    }

    .WO-Row,
    .WO-CardNote {
        padding: 14px 18px 14px 18px;

    }




}