.PriceCard {
    border-radius: 12px;
    border: 1px solid var(--pastel-yellow-green);
    padding: 50px;
    background-color: var(--light-beige);
    display: flex;
    flex-direction: column;
    gap: 40px;


}


.W0-TextContainer h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    color: var(--dark-gray);
}

.W0-TextContainer p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500px;
    color: var(--dark-gray-text);
}

.WO-describtion {
    line-height: 27px;
    font-size: 18px;
    color: var(--dark-gray);
}

.WO-bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 33px;

}

.WO-subContainer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.WO-subContainer1 p:nth-child(1) {
    font-size: 50px;
    font-weight: 700;
    line-height: 43.76px;

}

.WO-subContainer1 p:nth-child(2) {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500px;
    color: var(--medium-gray);

}

.PriceCard button {
    padding: 18px 41px 18px 41px;
    border-radius: 8px 0px 0px 0px;
    border: none;
    background-color: var(--light-green);
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    width: 100%;

}

@media (max-width:1440px) {
    .PriceCard {
        border-radius: 10px;

    }

    .WO-bottomContainer {
        gap: 24px;
    }

    .WO-subContainer1 {
        gap: 2px;
    }

    .WO-subContainer1 p:nth-child(1) {
        font-size: 40px;
        line-height: 35.01px;

    }

    .WO-subContainer1 p:nth-child(2) {
        font-size: 16px;
        line-height: 24px;

    }

    .PriceCard button {
        font-size: 14px;
        line-height: 16.8px;

    }

}

@media (min-width:390px)and (max-width:1440px) {
    .PriceCard {
        padding: 40px;
        gap: 30px;
        min-height: 400px;
    }

    .W0-TextContainer h3 {
        font-size: 24px;
        line-height: 36px;
    }

    .W0-TextContainer p,
    .WO-describtion {
        font-size: 16px;
        line-height: 24px;

    }

}

@media (max-width:390px) {
    .PriceCard {
        padding: 30px;
        gap: 24px;

    }

    .W0-TextContainer h3 {
        font-size: 22px;
        line-height: 33px;
    }

    .W0-TextContainer p,
    .WO-describtion {
        font-size: 14px;
        line-height: 21px;

    }

}